# Ignore cache files and data outputs
*.caches

# Ignore CSVs generated as cache or output
*.csv

# Ignore data and cache folders
cache/
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp
*.temp


.env
.venv/
*.egg-info/
dist/
build/
.venv/